#about-page-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5%;
}

#about-page-container .food-grid {
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-areas:
    "image1 image2"
    "image1 image3";
  gap: 10px;
  justify-items: center;
  margin: auto;
}

#about-page-container .about-us-text {
  padding: 0 8%;
}

#about-page-container .food-grid .image1 {
  grid-area: image1;
  width: 145px;
  height: 300px;
  object-fit: cover;
  object-position: center left;
}

#about-page-container .food-grid .image2 {
  grid-area: image2;
  width: 145px;
}

#about-page-container .food-grid .image3 {
  grid-area: image3;
  width: 145px;
}

div.about-us-text h3,
div.about-us-text p {
  font-family: var(--body-font);
}

div.about-us-text h3{
    margin-bottom: 0;
}

div.about-us-text p{
    margin-top: 20px;
}

div.about-us-text a,
div.about-us-text a:visited {
    color: black;
    text-decoration: none;
}

div.about-us-text a:hover {
    color: var(--accent-color);
}


.about-us-divider{
    width: 145px;
    height: 5px;
}

@media only screen and (min-width: 576px) {
  #about-page-container {
    gap: 20px;
    padding: 10%;
  }

  #about-page-container .food-grid {
    width: 400px;
    height: 400px;
    gap: 20px;
  }

  #about-page-container .food-grid .image1 {
    width: 190px;
    height: 400px;
  }

  #about-page-container .food-grid .image2 {
    width: 190px;
  }

  #about-page-container .food-grid .image3 {
    width: 190px;
  }

  /* .about-us-divider{
    width: 30%;
} */
}

@media only screen and (min-width: 768px) {
  #about-page-container {
    gap: 40px;
    padding: 5% 10%;
  }
  #about-page-container .food-grid {
    display: grid;
    width: 450px;
    height: 450px;
    gap: 20px;
  }

  #about-page-container .about-us-text {
    padding: 0;
  }

  #about-page-container .food-grid .image1 {
    width: 215px;
    height: 450px;
  }

  #about-page-container .food-grid .image2 {
    width: 215px;
  }

  #about-page-container .food-grid .image3 {
    width: 215px;
  }
}

@media only screen and (min-width: 1025px) {
  #about-page-container {
    gap: 40px;
    padding: 5% 15%;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  #about-page-container .food-grid {
    display: grid;
    width: 400px;
    height: 400px;
    gap: 20px;
  }

  #about-page-container .food-grid .image1 {
    width: 190px;
    height: 400px;
  }

  #about-page-container .food-grid .image2 {
    width: 190px;
  }

  #about-page-container .food-grid .image3 {
    width: 190px;
  }
}

@media only screen and (min-width: 1200px) {
  #about-page-container {
    gap: 40px;
    padding: 5% 20%;
  }

  #about-page-container .food-grid {
    display: grid;
    width: 400px;
    height: 400px;
    gap: 20px;
  }

  #about-page-container .food-grid .image1 {
    width: 190px;
    height: 400px;
  }

  #about-page-container .food-grid .image2 {
    width: 190px;
  }

  #about-page-container .food-grid .image3 {
    width: 190px;
  }
}
