/*layout for details page*/
#details-page-container {
  display: grid;
  grid-template-areas:
    "image"
    "desc"
    "label"
    "ingr"
    "instr";
  gap: 20px;
  padding: 5%;
}

/*recipe image*/
#recipe-img img {
  margin: auto;
  display: block;
  width: 100%;
  border-radius: 10px;
  /* height: 330px; */
  /* object-fit: cover; */
}

#recipe-img {
  grid-area: image;
  align-self: center;
  /* background: pink; */
}

#desc-container h3,
#desc-container p,
#ingr-container h4,
#ingr-container li,
#instr-container p {
  font-family: var(--body-font) !important;
}

#desc-container {
  grid-area: desc;
}

#ingr-container {
  grid-area: ingr;
}

#instr-container {
  grid-area: instr;
}

#details-page-container a,
#details-page-container a:visited {
  color: black;
  text-decoration: none;
}

#details-page-container a:hover {
  color: var(--accent-color);
}

/*close icon for close button on modal*/
.close-btn::after {
  content: "\e5cd";
  font-family: "Material Icons";
}

/*nutrition label button*/
.nutrition-label-btn {
  font-family: var(--body-font);
  grid-area: label;
  justify-self: left;
  width: fit-content;
  background: #cdcccc;
  box-shadow: var(--box-shadow);
}

/*modal*/
.mdl-dialog {
  width: fit-content;
}

/*nutrition label*/
#nutrition-label-info img {
  width: 230px;
  margin: auto;
}

/************** Responsive Styles *************/
@media only screen and (min-width: 576px) {
  /*recipe image*/
  #recipe-img img {
    /* width: 350px; */
    /* height: 350px; */
    /* object-fit: cover; */
  }
}

@media only screen and (min-width: 768px) {
  /*recipe image*/
  #recipe-img img {
    width: 100%;
    /* height: 400px; */
    /* object-fit: cover; */
  }
}

@media only screen and (min-width: 1025px) {
  /*details page layout*/
  #details-page-container {
    /* gap: 30px; */
    grid-template-areas:
      "image desc"
      "image label"
      "ingr ingr"
      "instr instr";
    padding: 5% 8%;
    grid-template-columns: 2fr 3fr;

  }

  #desc-container h3{
    margin-top: 0;
  }

  #recipe-img,
  #desc-container{
    align-self: center;
  }

  /*recipe title and recipe image container*/
  #recipe-img img {
      width: 400px;
      height: 400px;
      object-fit: cover;

  }

}

@media only screen and (min-width: 1200px) {
  #details-page-container {
    gap: 30px;
    grid-template-areas:
      "image desc desc"
      "image label ."
      "ingr ingr ingr"
      "instr instr instr";
    padding: 5% 15%;
  }

  #recipe-img img {
    width: 450px;
    height: 450px;
    object-fit: cover;
}
}
